ul li {
    padding: 0.25rem 0;
    font-weight: 450;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.15rem solid transparent;
    display: inline-block;
    width: fit-content;
}

ul li:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

/* IMAGE FRAME */

.wave {
    float: left;
    margin: 20px;
}

.wave:hover {
    animation: wave ease-in-out 0.7s infinite alternate;
    transform-origin: center -36px;
    cursor: pointer;
}

.wave img {
    border: 5px solid #f8f8f8;
    display: block;
}

.wave figcaption {
    text-align: center;
}

.wave:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1.5px solid #ffffff;
    top: -10px;
    left: 50%;
    border-bottom: none;
    border-right: none;
    transform: rotate(35deg);
}

.wave:before {
    content: "";
    position: absolute;
    top: -23px;
    left: 50%;
    display: block;
    height: 44px;
    width: 47px;
    background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    z-index: 16;
}

@keyframes wave {
    0% {
        transform: rotate(10deg);
    }

        100% {
            transform: rotate(-10deg);
        }
}

@media (min-width: 768px) {
    .wave img {
        width: 300px;
        height: 300px;
    }
}
