/* ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    box-sizing: border-box;
    width: 10em;
    height: 2em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0, 2);
    color: white;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
}

ul li:nth-child(odd) {
    background: linear-gradient(to right, black, rgb(32, 26, 88));
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px)rotatey(45deg);
}

ul li:nth-child(even) {
    background: linear-gradient(to left, rgb(32, 26, 88), black);
    text-align: right;
    padding-left: 10%;
    transform: perspective(500px)rotatey(-45deg);
}

ul li:nth-child(odd):hover {
    transform: perspective (200px) rotatey (45deg);
    padding-left: 5%;
}

ul li:nth-child(even):hover {
    transform: perspective (200px) rotateY(-45deg);
    padding-right: 5%;
} */

h1 {
    background-image: linear-gradient(to right, rgb(88, 74, 216), rgb(178, 172, 230));
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: #000119;
    font-size: 10vmin;
    font-weight: 700;
    letter-spacing: calc(1em / 8);
}